@model IEnumerable<Monotoring.Models.WorkOrden>

@{
    ViewBag.Title = "Ordenes Nuevas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h2>Ordenes Nuevas <smail>Sin iniciar.</smail></h2>
</div>


<div class="container">
    <div class="row">
        @using (Html.BeginForm("Update","Generate",FormMethod.Post,new { enctype="multipart/form-data"}))
        {
            <div class="form-group">
                <label for="fileUp">Seleccione el archivo: </label>
                <input type="file" class="form-control" id="fileUp" />
            </div>
        }
    </div>

    <div class="row">
        <div class="table-responsive">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Batch</th>
                        <th>Cantidad</th>
                        <th>Fecha de registro</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Catalog.CatalogNo / @item.Catalog.CatalogDescrip</td>
                            <td>@item.BatchOrden</td>
                            <td>@item.quantityOrden</td>
                            <td>@item.dateRegistry</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>