@model Monotoring.Models.Catalog

@{
    ViewBag.Title = "Eliminar Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>¿Esta seguro que desea eliminar el siguiente producto?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CatalogNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatalogNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatalogDescrip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatalogDescrip)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a lista", "Index")
        </div>
    }
</div>
