@model Monotoring.Models.Catalog

@{
    ViewBag.Title = "Eliminar producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar Producto</h2>

<h3>¿Seguro que desa continuar con la elmiminación?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FamilyProduct.nameFamily)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyProduct.nameFamily)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatalogNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatalogNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatalogDescrip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatalogDescrip)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Cancelar", "Index")
        </div>
    }
</div>
