@model IEnumerable<Monotoring.Models.Catalog>

@{
    ViewBag.Title = "Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Productos</h2>

<p>
    @Html.ActionLink("Nuevo producto", "Create")
</p>
@*<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.CatalogNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CatalogDescrip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FamilyProduct.nameFamily)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.CatalogNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CatalogDescrip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FamilyProduct.nameFamily)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.CatalogId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.CatalogId })
        </td>
    </tr>
}

</table>*@
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        @foreach (var item in Model)
        {
            <div class="media">
                <div class="media-left media-middle">
                    <img class="media-object" src="~/fonts/images/@item.image" height="64" width="64" />
                </div>
                <div class="media-body">
                    <h4 class="media-heading">@Html.DisplayFor(modelItem => item.CatalogDescrip)</h4>
                    <dl class="dl-horizontal">
                        <dt>Catalogo:</dt>
                        <dd>@Html.DisplayFor(modelItem => item.CatalogNo)</dd>
                        <dt>Familia</dt>
                        <dd>@Html.DisplayFor(modelItem => item.FamilyProduct.nameFamily)</dd>
                    </dl>
                    @Html.ActionLink("Editar", "Edit", new { id = item.CatalogId }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.CatalogId })
                    <hr />
                </div>
            </div>
        }
    </div>
</div>