@using Monotoring.Models;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
   
    @if (Session["stop"] != null)
    {
        <div class="row">
            <div class="col-md-5 col-md-offset-4">
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dissmiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Alerta: </strong> @Session["stop"]
                </div>
            </div>
        </div>
    }

    <div class="table-responsive">
        <table class="table table-condensed">   
            <thead>
                <tr>
                    <th>Orden</th>
                    <th>Cantidad</th>
                    <th>Días transcurridos</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(OrdensView item in ViewBag.ordens)   
                {
                    <tr>
                        <td>@item.WorkOrden.BatchOrden</td>
                        <td>@item.WorkOrden.quantityOrden</td>
                        <td>@(Math.Round((DateTime.Now - (DateTime)item.Area_Orden.dateStart ).TotalDays,0))</td>
                        <td>
                            @Ajax.ActionLink("Finalizar", "FinishOrden","Area_Orden",new { id = item.WorkOrden.WorkOrdenId },new AjaxOptions() { HttpMethod = "POST" })|
                           @* @Html.ActionLink("Retraso","Create","DelayWork")*@
                            @if (item.DelayWork == null)
                            {
                                @Ajax.ActionLink("Retraso", "Create", "DelayWork", new { id = item.WorkOrden.WorkOrdenId }, new AjaxOptions() { HttpMethod = "GET" })
                            }
                            else
                            {
                                @Ajax.ActionLink("Cerrar Retraso", "finishDelay", "DelayWork", new { id = item.DelayWork.DelayWorkId }, new AjaxOptions() { HttpMethod = "POST" })
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-1">
                @foreach (OrdensView item in ViewBag.ordens)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Orden: @item.WorkOrden.BatchOrden
                        </div>
                        <div class="panel-body">
                            <dl class="dl-horizontal">
                                <dt>Cantidad:</dt>
                                <dd>@item.WorkOrden.quantityOrden</dd>
                                <dt>Días transcurridos:</dt>
                                <dd>@(Math.Round((DateTime.Now - (DateTime)item.Area_Orden.dateStart).TotalDays, 0))</dd>
                            </dl>
                            
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

