@using Monotoring.Models;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="table-responsive">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Orden</th>
                    <th>Cantidad</th>
                    <th>Días transcurridos</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(WorkOrden item in ViewBag.ordens)   
                {
                    <tr>
                        <td>@item.BatchOrden</td>
                        <td>@item.quantityOrden</td>
                        <td>@(Math.Round((DateTime.Now - (DateTime)item.dateStart).TotalDays,0))</td>
                        <td>
                            @Ajax.ActionLink("Finalizar", "FinishOrden","Area_Orden",new { id = item.WorkOrdenId },new AjaxOptions() { HttpMethod = "POST" })|
                            @Html.ActionLink("Retraso","Create","DelayWork",new { id=item.WorkOrdenId})
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

