@model IEnumerable<Monotoring.Models.DelayCode>

@{
    ViewBag.Title = "Códigos de retraso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<p>
    @Html.ActionLink("Nuevo Código", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DelayName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DelayName)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.DelayCodeId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.DelayCodeId })
        </td>
    </tr>
}

</table>
