@using Monotoring.Models;
@{
    ViewBag.Title = "Nuevas ordenes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h1>Nuevas ordenes</h1>
</div>

<div class="container-fluid">
    @if (ViewBag.myModel.Count > 0)
    {
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center">No. Catalogo</th>
                    <th class="text-center">Producto</th>
                    <th class="text-center">Batch</th>
                    <th class="text-center">Cantidad</th>
                    <th class="text-center">Fecha de registro</th>
                    <th class="text-center"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (WorkOrden item in ViewBag.myModel)
                {
                    <tr>
                        <td class="text-center">@item.Catalog.CatalogNo</td>
                        <td class="text-center">@item.Catalog.CatalogDescrip</td>
                        <td class="text-center">@item.BatchOrden</td>
                        <td class="text-center">@item.quantityOrden</td>
                        <td class="text-center">@item.dateRegistry</td>
                        @*<td><input type="button" id="btnIniciar" value="Iniciar" class="btn btn-sm btn-default" /></td>*@
                        <td class="text-center">@Ajax.ActionLink("Iniciar", "StartOrden", "ListOrdens", new { id = item.WorkOrdenId }, new AjaxOptions() { HttpMethod = "Post" }) <span class="glyphicon glyphicon-send"></span></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    }
    else
    {
        if (ViewBag.myModel2.Count > 0)
        {
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <th class="text-center">No. Catalogo</th>
                        <th class="text-center">Producto</th>
                        <th class="text-center">Batch</th>
                        <th class="text-center">Cantidad</th>
                        <th class="text-center">Fecha</th>
                        <th class="text-center"></th>
                    </tr>
                   
                    @foreach (WorkCatalog item in ViewBag.myModel2)
                    {
                        <tr>
                            <td class="text-center">@item.Catalog.CatalogNo</td>
                            <td class="text-center">@item.Catalog.CatalogDescrip</td>
                            <td class="text-center">@item.WorkOrden.BatchOrden</td>
                            <td class="text-center">@item.WorkOrden.quantityOrden</td>
                            <td class="text-center">@item.WorkOrden.dateRegistry</td>

                            @*<td><input type="button" id="btnIniciar" value="Iniciar" class="btn btn-sm btn-default" /></td>*@
                            <td class="text-center">@Ajax.ActionLink("Iniciar", "StartOrden", "ListOrdens", new { id = item.WorkOrden.WorkOrdenId }, new AjaxOptions() { HttpMethod = "Post" })</td>
                        </tr>
                    }
                </table>
            </div>
        }
        else
        {
            <div class="jumbotron">
                <h1>No hay nuevas ordenes de trabajo.</h1>
                <p>Puede existir un retraso en alguna área, o no se han dado de alta nuevas ordenes de trabajo.</p>
            </div>
            }
        }
</div>


