@using  Monotoring.Models
@model dynamic
@{ 
    int count = 0;
    string head = "";
    string collap = "";
    string User = Convert.ToString(Session["userName"]);
    int InArea = Convert.ToInt32(Session["userAreaId"]);
    int thisArea = 0;
    foreach( Area_Orden item in Model.LastArea)
    {
        thisArea = item.Area.orden;
    }

}

<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-header">Detalles.</h4>
    </div>

   <div class="modal-body">
      
       <div class="row">
           
              
               @foreach (WorkCatalog item in Model.WorkCatalog)
               {
                <div class=" col-lg-7">
                    <div class="media">
                        <div class="media-right media-middle">
                            <img class="media-object" src="~/fonts/images/@item.Catalog.image" height="100" width="100" />
                        </div>
                        <div class="media-body">
                            <br />
                            <br />
                            <dl class="dl-horizontal">
                                <dt>Batch: </dt>
                                <dd>@item.WorkOrden.BatchOrden</dd>
                                <dt>No. Producto:</dt>
                                <dd>@item.Catalog.CatalogNo</dd>
                                <dt>Producto:</dt>
                                <dd>@item.Catalog.CatalogDescrip</dd>
                                <dt>Cantidad:</dt>
                                <dd>@item.WorkOrden.quantityOrden</dd>


                                @if (item.WorkOrden.dateFinish != null)
                                {
                                    <dt>Estado:</dt>
                                    <dd>Finalizado</dd>
                                    <dt>Fecha de inicio:</dt>
                                    <dd>@item.WorkOrden.dateStart</dd>
                                    <dt>Fecha de finalización:</dt>
                                    <dd>@item.WorkOrden.dateFinish</dd>
                                }
                                else
                                {
                                    <dt>Estado:</dt>
                                    <dd>Trabajando</dd>
                                    <dt>Fecha de inicio:</dt>
                                    <dd>@item.WorkOrden.dateStart</dd>
                                }

                            </dl>
                        </div>
                    </div>
                </div>
                   if (User != "" && InArea == thisArea)
                   {                       
                        <div class="col-lg-5">
                            <div class="btn-group" role="group">
                                <a onclick="ModalNewComment();" class="createCommentNew btn btn-default" data-id="@item.WorkOrden.WorkOrdenId">Comentario</a>
                                <a onclick="ModalDelay();" class="createDelay btn btn-default" data-id="@item.WorkOrden.WorkOrdenId">Retraso</a>
                                @Ajax.ActionLink("Finalizar", "FinishOrden", "Area_Orden", new { id = item.WorkOrden.WorkOrdenId }, new AjaxOptions() { HttpMethod = "POST" }, new { @class = "btn btn-default", @data_toggle = "tooltip", @data_placement = "bottom", @title = "Terminar orden de trabajo" })
                            </div>
                        </div>                       
                   }
               }




       </div>

       <div class="row">
           <div class="col-lg-10 col-lg-offset-1">
               <!--comments panel-->
               <div class="panel-group center-block" id="accordion2" role="tablist" aria-multiselectable="true">
                   <!-- panel1 -->
                   <div class="panel panel-default">
                       <div class="panel-heading panel-info" role="tab" id="head">
                           <h4 class="panel-tittle">
                               <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collap2" aria-expanded="true" aria-controls="collap">
                                   Comentarios.
                               </a>

                           </h4>
                       </div>
                       <div id="collap2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="head">
                           <div class="panel-body ">
                               @foreach (OrdenComment item in Model.OrdenComment)
                               {
                                   <blockquote>
                                       <p class="text-justify">@item.Commnet</p>
                                       <footer>@item.Users.fullname - (@item.dateComment)</footer>
                               </blockquote>
                               }
                           </div>
                       </div>
                   </div>
               </div>

               <!--end comment-->
           </div>
       </div>

       <div class="row">
           <div class="col-lg-10 col-lg-offset-1">
               <div class="panel panel-warning">
                   <div class="panel-heading">
                       <h5 class="panel-title">Retrasos generados.</h5>
                   </div>
                   <div class="panel-body">
                       
                       <div class="well well-lg">

                           @foreach (DelayArea item in Model.Delay)
                           {

                               <hr />
                            <div class="row">
                                <div class="col-lg-7">
                                    <dl class="dl-horizontal">
                                        <dt>Tipo:</dt>
                                        <dd>@item.DelayCode.DelayName</dd>
                                        <dt>Descripción:</dt>
                                        <dd>@item.SubCodes.DescripCode</dd>
                                        @if (item.DelayWork.dateFinish != null)
                                        {
                                            <dt>Estado:</dt>
                                            <dd>Liberado</dd>
                                            <dt>Fecha de inicio:</dt>
                                            <dd>@item.DelayWork.dateDelay</dd>
                                            <dt>Fecha de liberación:</dt>
                                            <dd>@item.DelayWork.dateFinish</dd>
                                            <dt>Duración:</dt>
                                            <dd>@(((DateTime)item.DelayWork.dateFinish - (DateTime)item.DelayWork.dateDelay).TotalDays)</dd>
                                        }
                                        else
                                        {
                                            <dt>Estado:</dt>
                                            <dd>Detenido</dd>
                                            <dt>Fecha de inicio:</dt>
                                            <dd>@item.DelayWork.dateDelay</dd>
                                            <dt>Responsable:</dt>
                                            <dd>@item.DelayWork.Responsable</dd>
                                            <dt>Área:</dt>
                                            <dd>@item.Area.AreaName</dd>
                                        }
                                    </dl>
                                </div>
                                <div class="col-lg-5">
                                @if (item.DelayWork.dateFinish == null)
                                {
                                    <div class="btn-group" role="group">
                                        @Ajax.ActionLink("Cerrar Retraso", "finishDelay", "DelayWork", new { id = item.DelayWork.DelayWorkId }, new AjaxOptions() { HttpMethod = "POST" }, new { @class = "btn btn-success btn-sm text-left", @data_toggle = "tooltip", @data_placement = "bottom", @title = "Retraso solucionado" })
                                        <a href="javascript:void(0);" class="showDetail btn btn-primary btn-sm" data-id="@item.DelayWork.DelayWorkId">Comentario</a>
                                    </div>
                                }
                                    </div>
                                       </div>
                        <!--comments panel-->
                                       <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                           <!-- panel1 -->
                                           <div class="panel panel-default">
                                               <div class="panel-heading" role="tab" id="head">
                                                   <h4 class="panel-tittle">
                                                       <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collap" aria-expanded="true" aria-controls="collap">
                                                           Comentarios
                                                       </a>

                                                   </h4>
                                               </div>
                                               <div id="collap" class="panel-collapse collapse" role="tabpanel" aria-labelledby="head">
                                                   <div class="panel-body ">
                                                       @foreach (DelayComment item2 in Model.DelayComment)
                                                       {
                                                           <blockquote>
                                                               <p class="text-justify ">@item2.Comment</p>
                                                               <footer>@item2.Users.fullname (@item2.dateComment)</footer>
                                                           </blockquote>
                                                       }

                                                   </div>
                                               </div>
                                           </div>
                                       </div>

                   <!--end comment-->
                                       <hr />
                           }
                       </div>

                   </div>
               </div>
           </div>
       </div>
   </div>
</div>

<!--Modal code create comment-->
<div id='myModal' class='modal fade' tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<!--Modal code create delay-->
<div id='myModal2' class='modal fade' tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id='myModalContent2'></div>
        </div>
    </div>
</div>
<!--end modal-->

<script>
    $("#close").click(function () {
        $("#myModal").modal('hide');       
    });
    //show the modal(partial view) for new comment
    $(function () {
        $(".showDetail").click(function () {
            var $buttonClicked = $(this);
            var id = $buttonClicked.attr('data-id');
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: "/DelayComment/New",
                contentType: "application/json; charset=utf-8",
                data: { "id": id },
                dataType: "html",
                success: function (data) {
                    $('#myModalContent').html(data);
                    $('myModal').modal(options);
                    $('#myModal').modal('show');
                },
                error: function () {
                    alert("Error al cargar el contenido");
                }
            })
        });
    });
    //add commnent orden
    $(function ModalNewComment() {
        $(".createCommentNew").click(function () {
            var $buttonClicked = $(this);
            var id = $buttonClicked.attr('data-id');
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: "/OrdenComment/Create",
                contentType: "application/json; charset=utf-8",
                data: { "id": id },
                dataType: "html",
                success: function (data) {
                    $('#myModalContent').html(data);
                    $('myModal').modal(options);
                    $('#myModal').modal('show');
                },
                error: function () {
                    alert("Error al cargar el contenido");
                }
            })
        });
    });

    //show the modal(partial view) for new delay
    $(function ModalDelay() {
        $(".createDelay").click(function () {
            var $buttonClicked = $(this);
            var id = $buttonClicked.attr('data-id');
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: "/DelayWork/Create",
                contentType: "application/json; charset=utf-8",
                data: { "id": id },
                dataType: "html",
                success: function (data) {
                    $('#myModalContent').html(data);
                    $('myModal').modal(options);
                    $('#myModal').modal('show');
                },
                error: function () {
                    alert("Error al cargar el contenido");
                }
            })
        });
    });

</script>