<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/sidebar.css")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"> </script>

    @{ 
        string User = Convert.ToString(Session["userName"]);
        int userType= Convert.ToInt32(Session["userType"]);
    }

</head>
<body>
    @*<nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-head">
                <a href="#" class="navbar-brand">
                    <button class="btn btn-default" aria-label="Left Aling">
                        <span class="glyphicon glyphicon-th-list"></span>
                    </button>
                </a>
            </div>
        </div>
    </nav>*@  
    <div class="navbar navbar-inverse navbar-fixed-top">        
        <div class="container-fluid">
            <div class="navbar-head">
                <a href="#" class="navbar-brand" id="menu-toggle"><span role="button" class="glyphicon glyphicon-menu-hamburger"></span></a>
                
            </div>
            <div class="navbar-head">
                <a href="/" class="navbar-brand">Home</a>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-right">
                    @if (User == "")
                    {
                        <li>@Html.ActionLink("Ingresar", "Login", "Users")</li>
                    }
                    else
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@User<span class="caret"></span></a>
                            <ul class="dropdown-menu">                             
                                <li>@Html.ActionLink("Salir", "Logout", "Users")</li>                            
                                <li><a href="#">Notificaciones</a></li>
                                <li><a href="#">Salir</a></li>
                                <li></li>
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </div>        
    </div>
    
    <div id="wrapper">
        <!--sideBar-->
        <div id="sidebar-wrapper">
            <div class="sidebar-nav">
                @if (userType == 1)
                {
                    <li>@Html.ActionLink("Administrador","Index","Admin")</li>
                }                                 
                <li>@Html.ActionLink("Ordenes de trabajo","Index","WorkOrden")</li>                   
                <li>@Html.ActionLink("Notificaciones","Index","Notification")</li>                   
                <li><a>Inicio</a></li>                   
            </div>
        </div>
        <!--Page content-->
        <div id="page-content-wrapper">
            <div class="container body-content">               
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
                </footer>
            </div>
        </div>
       </div>
    
    <!--Script-->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("menuDisplayed");
        })
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
