@using Monotoring.Models;
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE10">
    <title>@ViewBag.Title - TrackBatch</title>
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/sidebar.css")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
   
    
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>


    @{ 
        string User = Convert.ToString(Session["userName"]);
        int userType= Convert.ToInt32(Session["userType"]);
    }

</head>
<body>
    @*<nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-head">
                <a href="#" class="navbar-brand">
                    <button class="btn btn-default" aria-label="Left Aling">
                        <span class="glyphicon glyphicon-th-list"></span>
                    </button>
                </a>
            </div>
        </div>
    </nav>*@  
    <div class="navbar navbar-Bax navbar-fixed-top navbar-collapse">        
        <div class="container-fluid">
            <div class="navbar-head">
               
                @if (User != "")
                {
                <a href="#" class="navbar-brand" id="menu-toggle"><span role="button" class="glyphicon glyphicon-menu-hamburger"></span></a>
                }
           
                <a href="/" class="navbar-brand">TrackBatch <span class="label label-primary"><i>Baxter</i></span></a>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-right">
                    @if (User == "")
                    {
                        <li>@Html.ActionLink("Ingresar", "Login", "Account")</li>
                    }
                    else
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@User<span class="caret"></span></a>
                            <ul class="dropdown-menu"> 
                                <li>@Html.ActionLink("Salir", "Logout", "Users")</li>
                                <li></li>
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </div>        
    </div>
    
    <div id="wrapper">
        <!--sideBar-->
        <div id="sidebar-wrapper">
            <div class="sidebar-nav">
                
                    @switch (userType)
                    {

                        case 3:
                            @*<li>@Html.ActionLink("Dashboard ", "Index","Dashboard")<span class="glyphicon glyphicon-blackboard"></span></li>
                    <li>@Html.ActionLink("Administrador","Index","Admin")</li>
                    <li>@Html.ActionLink("Usuarios","Index","Users")<span class="glyphicon glyphicon-user"></span></li>
                    <li>@Html.ActionLink("Catalogo","Index","Catalog")<span class="glyphicon glyphicon-book"></span></li>
                    <li>@Html.ActionLink("Configuraciones","Index","Config")<span class="glyphicon glyphicon-cog"</li>*@
                            <li>
                                <a href="@Url.Action("Index","Dashboard")">
                                    <span class="glyphicon glyphicon-blackboard"></span> Dashboard
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","Users")">
                                    <span class="glyphicon glyphicon-user"></span> Usuarios
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","Catalog")">
                                    <span class="glyphicon glyphicon-book"></span> Catalogo
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","Config")">
                                    <span class="glyphicon glyphicon-cog"></span> Configuraciones
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Generate","WorkOrden")">
                                    <span class="glyphicon glyphicon-barcode"></span> Ordenes nuevas
                                </a>
                            </li>
                            break;
                        case 2:
                            @*<li>@Html.ActionLink("Dashboard", "Index", "Dashboard")<span class="glyphicon glyphicon-blackboard"></span></li>
                            <li>@Html.ActionLink("Ordenes de trabajo", "Index", "Area_Orden")<span class="glyphicon glyphicon-wrench"></span></li>
                            <li>@Html.ActionLink("Notificaciones", "Index", "Area_Orden")<span class="glyphicon glyphicon-bell"></span></li>*@
                            <li>
                                <a href="@Url.Action("Index","Dashboard")">
                                    <span class="glyphicon glyphicon-blackboard"></span> Dashboard
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","Area_Orden")">
                                    <span class="glyphicon glyphicon-wrench"></span> Ordenes de trabajo
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","ListOrdens")">
                                    <span class="glyphicon glyphicon-bell"></span> Notificaciones
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("History","Workorden")">
                                    <span class="glyphicon glyphicon-folder-open"></span> Historial de ordenes
                                </a>
                            </li>
                            if ((int)Session["userAreaId"] == 3)
                            {
                                <li>
                                    <a href="@Url.Action("Generate","WorkOrden")">
                                        <span class="glyphicon glyphicon-barcode"></span> Ordenes nuevas
                                    </a>
                                </li>
                            }
                            break;
                        case 1:
                        @*<li>@Html.ActionLink("Ordenes de trabajo", "Index", "Area_Orden")<span class="glyphicon glyphicon-wrench"></span></li>
                        <li>@Html.ActionLink("Notificaciones", "Index", "ListOrdens")<span class="glyphicon glyphicon-bell"></span></li>*@
                            <li>
                                <a href="@Url.Action("Index","Area_Orden")">
                                    <span class="glyphicon glyphicon-wrench"></span> Ordenes de trabajo
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","ListOrdens")">
                                    <span class="glyphicon glyphicon-bell"></span> Notificaciones
                                </a>
                            </li>
                            break;
                    }
               
            
            </div>
        </div>
        <!--Page content-->
        <div id="page-content-wrapper">
            <div class="container body-content">               
                @RenderBody()
                <hr />
                <footer>
                    <p>@DateTime.Now.Year </p>
                </footer>
            </div>
        </div>
    </div>
    
    <!--Script-->
    <script>
        $("#menu-toggle").click(function (e) {
                    e.preventDefault();
            $("#wrapper").toggleClass("menuDisplayed");
                })

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
        $('.collapse').collapse()
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
