@model IEnumerable<Monotoring.Models.Users>

@{
    ViewBag.Title = "Solicitudes -  Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Solicitudes pendientes</h2>

<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fullname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emailuser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Area.AreaName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type.NameType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fullname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emailuser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Area.AreaName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type.NameType)
        </td>
        <td>
            @Ajax.ActionLink("Aprobar", "ApproveRequest", "Admin", new { id = item.UsersId }, new AjaxOptions() { HttpMethod = "Post" },new { @class= "glyphicon glyphicon-ok" })
            |
            @Ajax.ActionLink("Rechazar", "DenyRequest", "Admin", new { id = item.UsersId }, new AjaxOptions() { HttpMethod = "Post" },new { @class= "glyphicon glyphicon-remove" })
        </td>
    </tr>
}

</table>

<ul class="pager">
    <li class="previous"><a href="/Users/"><span aria-hidden="true">&larr;</span>Regresar</a></li>
</ul>
