@model Monotoring.Models.Area

@{
    ViewBag.Title = "Eliminar - Área";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>¿Desea continuar con la eliminación?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AreaName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.daysMax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.daysMax)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @*@Html.ActionLink("Back to List", "Index")*@
            <a class="btn btn-default" href="/Config/">Cancelar</a>
        </div>
    }
   
</div>
