@model IEnumerable<Monotoring.Models.Users>

@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuarios</h2>

<p>
    @Html.ActionLink("Nuevo usuario", "Create") |
    @Html.ActionLink("Solicitudes de acceso", "ListNewRequest", "Admin")
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.fullname)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.username)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Area.AreaName)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Type.NameType)
            </th>


            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.fullname)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.username)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Area.AreaName, ViewBag.Area as SelectList)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Type.NameType)
                </td>


                <td class="text-center">
                    @Html.ActionLink("Editar", "Edit", new { id = item.UsersId }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.UsersId })
                </td>
                <td>
                    <a href="javascript:void(0);" class="showDetail btn btn-sm btn-default" data-id="@item.UsersId">Otra área</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@*<ul class="pager">
    <li class="previous"><a href="/Admin/"><span aria-hidden="true">&larr;</span>Regresar</a></li>
</ul>*@

<div id='myModal' class='modal fade' tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $(".showDetail").click(function () {
            var $buttonClicked = $(this);
            var id = $buttonClicked.attr('data-id');
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: "/Users/AddArea",
                contentType: "application/json; charset=utf-8",
                data: { "id": id },
                dataType: "html",
                success: function (data) {
                    $('#myModalContent').html(data);
                    $('myModal').modal(options);
                    $('#myModal').modal('show');
                },
                error: function () {
                    //alert("Error al cargar el contenido");
                }
            })
        });
    });
</script>