@model IEnumerable<Monotoring.Models.Users>

@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuarios</h2>

<p>
    @Html.ActionLink("Nuevo usuario", "Create")
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fullname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.username)
        </th> 
        <th>
            @Html.DisplayNameFor(model => model.Area.AreaName)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.Type.NameType)
        </th>
         
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fullname)
        </td>   
        <td>
            @Html.DisplayFor(modelItem => item.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Area.AreaName,ViewBag.Area as SelectList)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type.NameType)
        </td>
                            
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.UsersId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.UsersId })
        </td>
    </tr>
}

</table>

@*<ul class="pager">
    <li class="previous"><a href="/Admin/"><span aria-hidden="true">&larr;</span>Regresar</a></li>
</ul>*@