@using  CandidateTest.Models

@{
    ViewBag.Title = "Home Page";
}

<div class="page-header">
    <h1>Candidates Interviews</h1>
</div>
<hr />
@Html.AntiForgeryToken()
<div class="row">
    <div class="col-lg-2 col-lg-offset-8">
        <div class="input-group">
            <input type="text" id="holdtext" class="form-control" readonly value="http://10.55.242.96:85/Form" />
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="clickBtn(this);"><span class="glyphicon glyphicon glyphicon-copy"></span></button>
            </span>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-4 col-lg-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3>Candidates Accepted</h3>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="text-center">Candidate´s Name</th>
                        <th class="text-center">Position</th>
                        <th class="text-center">Score</th>
                        <th class="text-center">Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Candidate item in ViewBag.candidateList)
                    {
                        <tr>
                            <td class="text-center">
                                
                                @Ajax.ActionLink(item.CandidateName, "Detail", "Form", new { id=item.FormId},new AjaxOptions() { HttpMethod = "POST" }, new { @class=""})
                            </td>
                            <td class="text-center">
                                @item.Form.Positiion
                            </td>
                            <td class="text-center">
                                @item.CandidateScore
                            </td>
                            <td class="text-center">
                                @item.Form.InterviewDate
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>        
    </div>
    <div class="col-lg-4 ">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3>Candidates Rejected</h3>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="text-center">Candidate´s Name</th>
                        <th class="text-center">Position</th>
                        <th class="text-center">Score</th>
                        <th class="text-center">Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Candidate item in ViewBag.candidate2)
                    {
                        <tr>
                            <td class="text-center">

                                @Ajax.ActionLink(item.CandidateName, "Detail", "Form", new { id = item.FormId }, new AjaxOptions() { HttpMethod = "POST" }, new { @class = "" })
                            </td>
                            <td class="text-center">
                                @item.Form.Positiion
                            </td>
                            <td class="text-center">
                                @item.CandidateScore
                            </td>
                            <td class="text-center">
                                @item.Form.InterviewDate
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-primary" >
            <div class="panel-heading">
                <h3>Interviews History</h3>
            </div>
            <table class="table table-hover table-fixed">
                <thead>
                    <tr>
                        <th class="text-center">Candidate´s Name</th>
                        <th class="text-center">Position</th>
                        <th class="text-center">Score</th>
                        <th class="text-center">Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Candidate item in ViewBag.history)
                    {
                        <tr>
                            <td class="text-center">

                                @Ajax.ActionLink(item.CandidateName, "Detail", "Form", new { id = item.FormId }, new AjaxOptions() { HttpMethod = "POST" }, new { @class = "" })
                            </td>
                            <td class="text-center">
                                @item.Form.Positiion
                            </td>
                            <td class="text-center">
                                @item.CandidateScore
                            </td>
                            <td class="text-center">
                                @item.Form.InterviewDate
                            </td>
                            <td>
                                @Ajax.ActionLink(" ", "Delete", "Form", new { id=item.FormId},new AjaxOptions() { HttpMethod="GET"}, new { @class= "glyphicon glyphicon glyphicon-trash" })<span></span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            
        </div>
    </div>
</div>

<script>
    function clickBtn(text) {
        Copied = holdtext.createTextRange();
        Copied.execCommand("Copy");
    }
</script>