@using Monotoring.Models
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h1>Dashboard <span class="glyphicon glyphicon-blackboard"></span><small>(Resumen)</small></h1>
</div>

<div class="container">
    <!--paneles de resumen-->
    @*<div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body bg-Baxter1">
                    <h3>90.1%</h3>
                </div>
                <div class="panel-footer">
                    <h2 class="panel-title">Ordenes finalizadas en tiempo</h2>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body bg-Baxter2">
                    <h3>90.1%</h3>
                </div>
                <div class="panel-footer">
                    <h2 class="panel-title">Ordenes finalizadas fuera de tiempo</h2>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body bg-Baxter3">
                    <h3>90.1%</h3>
                </div>
                <div class="panel-footer">
                    <h2 class="panel-title">Retrasos generados</h2>
                </div>
            </div>
        </div>
    </div>*@
    <!--Donas-->
    
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">Resumen mensual</h1>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3 col-md-offset-3">
                        <div class="panel panel-default">
                            <div class="panel-body ">
                                <canvas id="donaChart" width="100" height="100"></canvas>
                            </div>
                            <div class="panel-footer">
                                <h2 class="panel-title">Retrasos generados</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-body ">
                                <canvas id="donaChart2" width="100" height="100"></canvas>
                            </div>
                            <div class="panel-footer">
                                <h2 class="panel-title">Ordenes de trabajo finalizadas</h2>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--graficas-->
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">Resumen genera</h1>
            </div>
            <div class="panel-body">
                <div class="row ">
                    <div class="col-lg-12">
                        <canvas id="myChart" width="300" height="100"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Ordenes en ejecución-->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">Ordenes en ejecución <span class="badge">@ViewBag.Orden.Count</span></h2>
                </div>   
                <div class="panel-body">
                    <p></p>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">No. Batch</th>
                                <th class="text-center">Producto</th>
                                <th class="text-center">Cantidad</th>
                                <th class="text-center">Fecha de arranque</th>
                                <th class="text-center">Días transcurridos</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(WorkOrden item in ViewBag.Orden)
                            {
                                <tr>
                                    <td class="text-center">
                                        @item.BatchOrden
                                    </td>
                                    <td class="text-center">
                                        @item.Catalog.CatalogDescrip
                                    </td>
                                    <td class="text-center">
                                        @item.quantityOrden
                                    </td>
                                    <td class="text-center">
                                        @item.dateStart
                                    </td>
                                    <td class="text-center">
                                        @Math.Round((DateTime.Now - (DateTime)item.dateStart).TotalDays,0)                                        
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--Retrasos generados-->
        <div class="col-lg-12">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        Retrasos generados <span class="badge">@ViewBag.Delay.Count</span>
                    </h2>
                </div>
                <div class="panel-body"></div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">Orden</th>
                                <th class="text-center">Producto</th>
                                <th class="text-center">Tipo</th>
                                <th class="text-center">Usuario</th>
                                <th class="text-center">Fecha generado</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(DelayWork item in ViewBag.Delay)
                            {
                                <tr>
                                    <td class="text-center">
                                        @item.WorkOrden.BatchOrden
                                    </td>
                                    <td class="text-center">
                                        @item.WorkOrden.Catalog.CatalogDescrip
                                    </td>
                                    <td class="text-center">
                                        @item.DelayCode.DelayName
                                    </td>
                                    <td class="text-center">
                                        @item.Users.fullname
                                    </td>
                                    <td class="text-center">
                                        @item.dateDelay
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>    
</div>

<script>
    var ctx = document.getElementById("myChart");
    var mychart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ["ENERO", "FEBRERO", "MARZO", "ABRIL", "MAYO", "JUNIO", "JULIO","AGOSTO","SEPTIEMBRE","OCTUBRE","NOVIEMBRE","DICIEMBRE"],
            datasets: [
                {
                    label: "Ordenes liberadas dentro de tiempo",
                    fill: true,
                    lineTension: 0.1,
                    backgroundColor: "rgba(24, 194, 41, 0.4)",
                    borderColor: "rgba(13, 164, 56, 1)",
                    borderCapStyle: 'butt',
                    borderDash: [],
                    borderDashOffset: 0.0,
                    borderJoinStyle: 'miter',
                    pointBorderColor: "rgba(75,192,192,1)",
                    pointBackgroundColor: "#fff",
                    pointBorderWidth: 1,
                    pointHoverRadius: 5,
                    pointHoverBackgroundColor: "rgba(75,192,192,1)",
                    pointHoverBorderColor: "rgba(220,220,220,1)",
                    pointHoverBorderWidth: 2,
                    pointRadius: 1,
                    pointHitRadius: 10,
                    data: [@ViewBag.d1, @ViewBag.d2, @ViewBag.d3, @ViewBag.d4, @ViewBag.d5, @ViewBag.d6, @ViewBag.d7],
                    spanGaps: false,
                },
                {
                    label: "Ordenes terminadas fuera de tiempo",
                    fill: true,
                    lineTension: 0.1,
                    backgroundColor: "rgba(207, 29, 29, 0.4)",
                    borderColor: "rgba(164, 22, 13, 1)",
                    borderCapStyle: 'butt',
                    borderDash: [],
                    borderDashOffset: 0.0,
                    borderJoinStyle: 'miter',
                    pointBorderColor: "rgba(75,192,192,1)",
                    pointBackgroundColor: "#fff",
                    pointBorderWidth: 1,
                    pointHoverRadius: 5,
                    pointHoverBackgroundColor: "rgba(75,192,192,1)",
                    pointHoverBorderColor: "rgba(220,220,220,1)",
                    pointHoverBorderWidth: 2,
                    pointRadius: 1,
                    pointHitRadius: 10,
                    data: [@ViewBag.d8,@ViewBag.d9,@ViewBag.d10,@ViewBag.d11,@ViewBag.d12,@ViewBag.d13,@ViewBag.d14],
                    spanGaps: false,
                },
                {
                    label: "Retrasos generados",
                    fill: true,
                    lineTension: 0.1,
                    backgroundColor: "rgba(223, 227, 22, 0.4)",
                    borderColor: "rgba(235, 233, 28, 1)",
                    borderCapStyle: 'butt',
                    borderDash: [],
                    borderDashOffset: 0.0,
                    borderJoinStyle: 'miter',
                    pointBorderColor: "rgba(75,192,192,1)",
                    pointBackgroundColor: "#fff",
                    pointBorderWidth: 1,
                    pointHoverRadius: 5,
                    pointHoverBackgroundColor: "rgba(75,192,192,1)",
                    pointHoverBorderColor: "rgba(220,220,220,1)",
                    pointHoverBorderWidth: 2,
                    pointRadius: 1,
                    pointHitRadius: 10,
                    data: [@ViewBag.d15,@ViewBag.d16,@ViewBag.d17,@ViewBag.d18,@ViewBag.d19,@ViewBag.d20,@ViewBag.d21],
                    spanGaps: false,
                }
            ]
        },
    });

    var dchart = document.getElementById("donaChart");
    var myDona = new Chart(dchart, {
        type: 'doughnut',
        data: {
            labels: [
        "@ViewBag.c1",
        "@ViewBag.c2",
        "@ViewBag.c3"
            ],
            datasets: [
                {
                    data: [@ViewBag.c4, @ViewBag.c5, @ViewBag.c6],
                    backgroundColor: [
                        "#a922cb",
                        "#12b1b1",
                        "#a87f26"
                    ],
                    hoverBackgroundColor: [
                        "#8b09ac",
                        "#089696",
                        "#966905"
                    ]
                }]
        }
    });

    var dchart2 = document.getElementById("donaChart2");
    var myDona2 = new Chart(dchart2, {
        type: 'doughnut',
        data: {
            labels: [
        "Dentro de tiempo",
        "Fuera de tiempo"
            ],
            datasets: [
                {
                    data: [@ViewBag.c7, @ViewBag.c8],
                    backgroundColor: [
                        "#429819",
                        "#d72525"
                    ],
                    hoverBackgroundColor: [
                        "#2c730a",
                        "#bb0b0b"
                    ]
                }]
        }
    });

</script>