@model Monotoring.Models.Employee_type

@{
    ViewBag.Title = "Eliminar - Cargo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h3>¿Desea continuar con la eliminación?</h3>
<div>
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.permission)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.permission)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descrip_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descrip_type)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @*@Html.ActionLink("Back to List", "Index")*@
            <a class="btn btn-default" href="/Config/">Cancelar</a>
        </div>
    }
</div>
