@model IEnumerable<Monotoring.Models.Employee_type>

@{
    ViewBag.Title = "Cargos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cargos.</h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NameType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.permission)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descrip_type)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NameType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.permission)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descrip_type)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Employee_typeId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Employee_typeId })
        </td>
    </tr>
}

</table>
<ul class="pager">
    <li class="previous"><a href="/Admin/"><span aria-hidden="true">&larr;</span>Regresar</a></li>
</ul>